<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yinxm.s04_layout" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TableLayout"
            android:label="@string/title_activity_table_layout" >
        </activity>
        <activity
            android:name="com.h4x0r.layout.GridLayoutActivity"
            android:label="@string/title_activity_grid_layout" >
        </activity>
        <activity
            android:name="com.h4x0r.layout.GridViewActivity"
            android:label="@string/title_activity_grid_view" >
        </activity>
    </application>

</manifest>
