<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.yinxm.notification_test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AudioPlayReceiver">
            <intent-filter>
                <action android:name="cn.com.work.ec.music.ACTION_PLAY_BUTTON" />
                <action android:name="cn.com.work.ec.music.ACTION_PLAY_NEXT" />
                <action android:name="cn.com.work.ec.music.ACTION_CLOASE_NOTIFI" />
                <action android:name="cn.com.work.ec.music.ACTION_NOTIFI_ONCLICK" />
                <action android:name="cn.com.work.ec.music.ACTION_PLAY_BUTTON" />
                <action android:name="cn.com.work.ec.music.ACTION_PLAY_NEXT" />
                <action android:name="cn.com.work.ec.music.ACTION_CLOASE_NOTIFI" />
                <action android:name="cn.com.work.ec.music.ACTION_NOTIFI_ONCLICK" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationTitleContentActivity" />
        <activity
            android:name=".PlayNotifiActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".AudioPlayService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".AudioPlayService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".AssistService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>